<!DOCTYPE html><html><head><meta charset="utf-8"><title>unit201001</title></head><body><div class="x-blog-template"><h1>Java学习－知识体系大纲</h1>

<h2>Java核心基础</h2>

<ul>
<li>Java基础</li>
<li>面向对象</li>
<li>JavaSE核心</li>
</ul>

<h2>数据库</h2>

<ul>
<li>SQL基础</li>
<li>Oracle基本操作</li>
<li>MySQL基本操作</li>
<li>JDBC技术</li>
</ul>

<h2>WEB基础</h2>

<ul>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript基础</li>
</ul>

<h2>JSP&amp;Servlet技术</h2>

<ul>
<li>Tomcat应用</li>
<li>Servlet</li>
<li>JSP</li>
</ul>

<h2>J2EE框架</h2>

<ul>
<li>Struts2</li>
<li>Hibernate</li>
<li>Spring</li>
<li>MyBatis</li>
</ul>

<h2>富客户端技术</h2>

<ul>
<li>JavaScript高级</li>
<li>Ajax技术</li>
<li>JQuery</li>
<li>XML</li>
<li>Json</li>
<li>Bootstrap</li>
<li>EasyUI</li>
</ul>

<h2>J2EE组件</h2>

<ul>
<li>Java操作Excel之POI</li>
<li>JMS之ActiveMQ</li>
<li>安全认证之Shiro</li>
</ul>

<h2>其他</h2>

<ul>
<li>Maven</li>
<li>Git</li>
</ul>

<h3>未完，待续...</h3></div></body></html>
