<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>视频模版</title>
  </head>
  <body>
    <div class="x-video-template">
      <div class="x-video-title">视频模版标题</div>
      <div class="x-video-media">
        <div>视频模版多媒体块,可放优酷\土豆等在线视频分享链接</div>
      </div>
      <div class="x-video-content">
        <p>视频模版内容块,主要可对视频进行介绍说明</p>
        <div class="x-video-url">
          <p>视频资源分享链接,因为存在分享视频不清晰的情况,可分享出原来的视频链接或资源下载路径供别人直接观看使用</p>
        </div>
      </div>
    </div>
  </body>
</html>
